### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
bower_components/angular-qrcode/.bower.json
bower_components/angular-qrcode/README.md
bower_components/angular-qrcode/angular-qrcode.js
bower_components/angular-qrcode/bower.json
bower_components/angular-qrcode/index.html
bower_components/angular-qrcode/package.json
bower_components/angular-translate/.bower.json
bower_components/angular-translate/README.md
bower_components/angular-translate/angular-translate.js
bower_components/angular-translate/angular-translate.min.js
bower_components/angular-translate/bower.json
bower_components/angular/.bower.json
bower_components/angular/README.md
bower_components/angular/angular-csp.css
bower_components/angular/angular.js
bower_components/angular/angular.min.js
bower_components/angular/angular.min.js.gzip
bower_components/angular/angular.min.js.map
bower_components/angular/bower.json
bower_components/angular/index.js
bower_components/angular/package.json
bower_components/bootstrap/.bower.json
bower_components/bootstrap/CHANGELOG.md
bower_components/bootstrap/Gruntfile.js
bower_components/bootstrap/LICENSE
bower_components/bootstrap/README.md
bower_components/bootstrap/bower.json
bower_components/bootstrap/dist/css/bootstrap-theme.css
bower_components/bootstrap/dist/css/bootstrap-theme.css.map
bower_components/bootstrap/dist/css/bootstrap-theme.min.css
bower_components/bootstrap/dist/css/bootstrap-theme.min.css.map
bower_components/bootstrap/dist/css/bootstrap.css
bower_components/bootstrap/dist/css/bootstrap.css.map
bower_components/bootstrap/dist/css/bootstrap.min.css
bower_components/bootstrap/dist/css/bootstrap.min.css.map
bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
bower_components/bootstrap/dist/js/bootstrap.js
bower_components/bootstrap/dist/js/bootstrap.min.js
bower_components/bootstrap/dist/js/npm.js
bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot
bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg
bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf
bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff
bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff2
bower_components/bootstrap/grunt/.jshintrc
bower_components/bootstrap/grunt/bs-commonjs-generator.js
bower_components/bootstrap/grunt/bs-glyphicons-data-generator.js
bower_components/bootstrap/grunt/bs-lessdoc-parser.js
bower_components/bootstrap/grunt/bs-raw-files-generator.js
bower_components/bootstrap/grunt/configBridge.json
bower_components/bootstrap/grunt/sauce_browsers.yml
bower_components/bootstrap/js/.jscsrc
bower_components/bootstrap/js/.jshintrc
bower_components/bootstrap/js/affix.js
bower_components/bootstrap/js/alert.js
bower_components/bootstrap/js/button.js
bower_components/bootstrap/js/carousel.js
bower_components/bootstrap/js/collapse.js
bower_components/bootstrap/js/dropdown.js
bower_components/bootstrap/js/modal.js
bower_components/bootstrap/js/popover.js
bower_components/bootstrap/js/scrollspy.js
bower_components/bootstrap/js/tab.js
bower_components/bootstrap/js/tooltip.js
bower_components/bootstrap/js/transition.js
bower_components/bootstrap/less/.csscomb.json
bower_components/bootstrap/less/.csslintrc
bower_components/bootstrap/less/alerts.less
bower_components/bootstrap/less/badges.less
bower_components/bootstrap/less/bootstrap.less
bower_components/bootstrap/less/breadcrumbs.less
bower_components/bootstrap/less/button-groups.less
bower_components/bootstrap/less/buttons.less
bower_components/bootstrap/less/carousel.less
bower_components/bootstrap/less/close.less
bower_components/bootstrap/less/code.less
bower_components/bootstrap/less/component-animations.less
bower_components/bootstrap/less/dropdowns.less
bower_components/bootstrap/less/forms.less
bower_components/bootstrap/less/glyphicons.less
bower_components/bootstrap/less/grid.less
bower_components/bootstrap/less/input-groups.less
bower_components/bootstrap/less/jumbotron.less
bower_components/bootstrap/less/labels.less
bower_components/bootstrap/less/list-group.less
bower_components/bootstrap/less/media.less
bower_components/bootstrap/less/mixins.less
bower_components/bootstrap/less/mixins/alerts.less
bower_components/bootstrap/less/mixins/background-variant.less
bower_components/bootstrap/less/mixins/border-radius.less
bower_components/bootstrap/less/mixins/buttons.less
bower_components/bootstrap/less/mixins/center-block.less
bower_components/bootstrap/less/mixins/clearfix.less
bower_components/bootstrap/less/mixins/forms.less
bower_components/bootstrap/less/mixins/gradients.less
bower_components/bootstrap/less/mixins/grid-framework.less
bower_components/bootstrap/less/mixins/grid.less
bower_components/bootstrap/less/mixins/hide-text.less
bower_components/bootstrap/less/mixins/image.less
bower_components/bootstrap/less/mixins/labels.less
bower_components/bootstrap/less/mixins/list-group.less
bower_components/bootstrap/less/mixins/nav-divider.less
bower_components/bootstrap/less/mixins/nav-vertical-align.less
bower_components/bootstrap/less/mixins/opacity.less
bower_components/bootstrap/less/mixins/pagination.less
bower_components/bootstrap/less/mixins/panels.less
bower_components/bootstrap/less/mixins/progress-bar.less
bower_components/bootstrap/less/mixins/reset-filter.less
bower_components/bootstrap/less/mixins/reset-text.less
bower_components/bootstrap/less/mixins/resize.less
bower_components/bootstrap/less/mixins/responsive-visibility.less
bower_components/bootstrap/less/mixins/size.less
bower_components/bootstrap/less/mixins/tab-focus.less
bower_components/bootstrap/less/mixins/table-row.less
bower_components/bootstrap/less/mixins/text-emphasis.less
bower_components/bootstrap/less/mixins/text-overflow.less
bower_components/bootstrap/less/mixins/vendor-prefixes.less
bower_components/bootstrap/less/modals.less
bower_components/bootstrap/less/navbar.less
bower_components/bootstrap/less/navs.less
bower_components/bootstrap/less/normalize.less
bower_components/bootstrap/less/pager.less
bower_components/bootstrap/less/pagination.less
bower_components/bootstrap/less/panels.less
bower_components/bootstrap/less/popovers.less
bower_components/bootstrap/less/print.less
bower_components/bootstrap/less/progress-bars.less
bower_components/bootstrap/less/responsive-embed.less
bower_components/bootstrap/less/responsive-utilities.less
bower_components/bootstrap/less/scaffolding.less
bower_components/bootstrap/less/tables.less
bower_components/bootstrap/less/theme.less
bower_components/bootstrap/less/thumbnails.less
bower_components/bootstrap/less/tooltip.less
bower_components/bootstrap/less/type.less
bower_components/bootstrap/less/utilities.less
bower_components/bootstrap/less/variables.less
bower_components/bootstrap/less/wells.less
bower_components/bootstrap/nuget/MyGet.ps1
bower_components/bootstrap/nuget/bootstrap.less.nuspec
bower_components/bootstrap/nuget/bootstrap.nuspec
bower_components/bootstrap/package.js
bower_components/bootstrap/package.json
bower_components/csshake/.bower.json
bower_components/csshake/LICENSE
bower_components/csshake/README.md
bower_components/csshake/bower.json
bower_components/csshake/dist/csshake-crazy.css
bower_components/csshake/dist/csshake-crazy.min.css
bower_components/csshake/dist/csshake-hard.css
bower_components/csshake/dist/csshake-hard.min.css
bower_components/csshake/dist/csshake-horizontal.css
bower_components/csshake/dist/csshake-horizontal.min.css
bower_components/csshake/dist/csshake-little.css
bower_components/csshake/dist/csshake-little.min.css
bower_components/csshake/dist/csshake-rotate.css
bower_components/csshake/dist/csshake-rotate.min.css
bower_components/csshake/dist/csshake-slow.css
bower_components/csshake/dist/csshake-slow.min.css
bower_components/csshake/dist/csshake-vertical.css
bower_components/csshake/dist/csshake-vertical.min.css
bower_components/csshake/dist/csshake.css
bower_components/csshake/dist/csshake.min.css
bower_components/csshake/dist/index.html
bower_components/csshake/package.json
bower_components/csshake/params.json
bower_components/csshake/sache.json
bower_components/csshake/scss/_tools.scss
bower_components/csshake/scss/csshake-crazy.scss
bower_components/csshake/scss/csshake-hard.scss
bower_components/csshake/scss/csshake-horizontal.scss
bower_components/csshake/scss/csshake-little.scss
bower_components/csshake/scss/csshake-rotate.scss
bower_components/csshake/scss/csshake-slow.scss
bower_components/csshake/scss/csshake-vertical.scss
bower_components/csshake/scss/csshake.scss
bower_components/jquery/.bower.json
bower_components/jquery/AUTHORS.txt
bower_components/jquery/LICENSE.txt
bower_components/jquery/README.md
bower_components/jquery/bower.json
bower_components/jquery/dist/jquery.js
bower_components/jquery/dist/jquery.min.js
bower_components/jquery/dist/jquery.min.map
bower_components/jquery/dist/jquery.slim.js
bower_components/jquery/dist/jquery.slim.min.js
bower_components/jquery/dist/jquery.slim.min.map
bower_components/jquery/sizzle/LICENSE.txt
bower_components/jquery/sizzle/dist/sizzle.js
bower_components/jquery/sizzle/dist/sizzle.min.js
bower_components/jquery/sizzle/dist/sizzle.min.map
bower_components/jquery/src/.jshintrc
bower_components/jquery/src/ajax.js
bower_components/jquery/src/ajax/jsonp.js
bower_components/jquery/src/ajax/load.js
bower_components/jquery/src/ajax/parseJSON.js
bower_components/jquery/src/ajax/parseXML.js
bower_components/jquery/src/ajax/script.js
bower_components/jquery/src/ajax/var/location.js
bower_components/jquery/src/ajax/var/nonce.js
bower_components/jquery/src/ajax/var/rquery.js
bower_components/jquery/src/ajax/xhr.js
bower_components/jquery/src/attributes.js
bower_components/jquery/src/attributes/attr.js
bower_components/jquery/src/attributes/classes.js
bower_components/jquery/src/attributes/prop.js
bower_components/jquery/src/attributes/support.js
bower_components/jquery/src/attributes/val.js
bower_components/jquery/src/callbacks.js
bower_components/jquery/src/core.js
bower_components/jquery/src/core/DOMEval.js
bower_components/jquery/src/core/access.js
bower_components/jquery/src/core/init.js
bower_components/jquery/src/core/parseHTML.js
bower_components/jquery/src/core/ready.js
bower_components/jquery/src/core/support.js
bower_components/jquery/src/core/var/rsingleTag.js
bower_components/jquery/src/css.js
bower_components/jquery/src/css/addGetHookIf.js
bower_components/jquery/src/css/adjustCSS.js
bower_components/jquery/src/css/curCSS.js
bower_components/jquery/src/css/defaultDisplay.js
bower_components/jquery/src/css/hiddenVisibleSelectors.js
bower_components/jquery/src/css/showHide.js
bower_components/jquery/src/css/support.js
bower_components/jquery/src/css/var/cssExpand.js
bower_components/jquery/src/css/var/getStyles.js
bower_components/jquery/src/css/var/isHidden.js
bower_components/jquery/src/css/var/rmargin.js
bower_components/jquery/src/css/var/rnumnonpx.js
bower_components/jquery/src/css/var/swap.js
bower_components/jquery/src/data.js
bower_components/jquery/src/data/Data.js
bower_components/jquery/src/data/accepts.js
bower_components/jquery/src/data/support.js
bower_components/jquery/src/data/var/acceptData.js
bower_components/jquery/src/data/var/dataPriv.js
bower_components/jquery/src/data/var/dataUser.js
bower_components/jquery/src/deferred.js
bower_components/jquery/src/deferred/exceptionHook.js
bower_components/jquery/src/deprecated.js
bower_components/jquery/src/dimensions.js
bower_components/jquery/src/effects.js
bower_components/jquery/src/effects/Tween.js
bower_components/jquery/src/effects/animatedSelector.js
bower_components/jquery/src/effects/support.js
bower_components/jquery/src/event.js
bower_components/jquery/src/event/ajax.js
bower_components/jquery/src/event/alias.js
bower_components/jquery/src/event/focusin.js
bower_components/jquery/src/event/support.js
bower_components/jquery/src/event/trigger.js
bower_components/jquery/src/exports/amd.js
bower_components/jquery/src/exports/global.js
bower_components/jquery/src/intro.js
bower_components/jquery/src/jquery.js
bower_components/jquery/src/manipulation.js
bower_components/jquery/src/manipulation/_evalUrl.js
bower_components/jquery/src/manipulation/buildFragment.js
bower_components/jquery/src/manipulation/createSafeFragment.js
bower_components/jquery/src/manipulation/getAll.js
bower_components/jquery/src/manipulation/setGlobalEval.js
bower_components/jquery/src/manipulation/support.js
bower_components/jquery/src/manipulation/var/nodeNames.js
bower_components/jquery/src/manipulation/var/rcheckableType.js
bower_components/jquery/src/manipulation/var/rleadingWhitespace.js
bower_components/jquery/src/manipulation/var/rscriptType.js
bower_components/jquery/src/manipulation/var/rtagName.js
bower_components/jquery/src/manipulation/wrapMap.js
bower_components/jquery/src/offset.js
bower_components/jquery/src/outro.js
bower_components/jquery/src/queue.js
bower_components/jquery/src/queue/delay.js
bower_components/jquery/src/selector-native.js
bower_components/jquery/src/selector-sizzle.js
bower_components/jquery/src/selector.js
bower_components/jquery/src/serialize.js
bower_components/jquery/src/support.js
bower_components/jquery/src/traversing.js
bower_components/jquery/src/traversing/findFilter.js
bower_components/jquery/src/traversing/var/dir.js
bower_components/jquery/src/traversing/var/rneedsContext.js
bower_components/jquery/src/traversing/var/siblings.js
bower_components/jquery/src/var/arr.js
bower_components/jquery/src/var/class2type.js
bower_components/jquery/src/var/concat.js
bower_components/jquery/src/var/deletedIds.js
bower_components/jquery/src/var/document.js
bower_components/jquery/src/var/documentElement.js
bower_components/jquery/src/var/hasOwn.js
bower_components/jquery/src/var/indexOf.js
bower_components/jquery/src/var/pnum.js
bower_components/jquery/src/var/push.js
bower_components/jquery/src/var/rcssNum.js
bower_components/jquery/src/var/rnotwhite.js
bower_components/jquery/src/var/slice.js
bower_components/jquery/src/var/support.js
bower_components/jquery/src/var/toString.js
bower_components/jquery/src/wrap.js
bower_components/qrcode-generator/.bower.json
bower_components/qrcode-generator/LICENSE
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/BitBuffer.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/ErrorCorrectLevel.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/MaskPattern.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/Mode.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/Polynomial.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/QR8BitByte.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/QRAlphaNum.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/QRCode.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/QRData.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/QRKanji.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/QRMath.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/QRNumber.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/QRUtil.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/RSBlock.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/StringUtil.as
bower_components/qrcode-generator/as3/src/as3/com/d_project/qrcode/mx/QRCode.as
bower_components/qrcode-generator/as3/src/assets/README.txt
bower_components/qrcode-generator/as3/src/assets/manifest.xml
bower_components/qrcode-generator/as3/src/build.xml
bower_components/qrcode-generator/as3/src/sample/QRCodeSample1.as
bower_components/qrcode-generator/as3/src/sample/QRCodeSample2.mxml
bower_components/qrcode-generator/bower.json
bower_components/qrcode-generator/java/src/assets/README.txt
bower_components/qrcode-generator/java/src/build.xml
bower_components/qrcode-generator/java/src/java-test/com/d_project/qrcode/BitBufferTest.java
bower_components/qrcode-generator/java/src/java-test/com/d_project/qrcode/PolynomialTest.java
bower_components/qrcode-generator/java/src/java-test/com/d_project/qrcode/QRCodeTest.java
bower_components/qrcode-generator/java/src/java-test/com/d_project/qrcode/web/GIFImageTest.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/BitBuffer.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/ErrorCorrectLevel.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/MaskPattern.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/Mode.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/Polynomial.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/QR8BitByte.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/QRAlphaNum.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/QRCode.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/QRData.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/QRKanji.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/QRMath.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/QRNumber.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/QRUtil.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/RSBlock.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/web/GIFImage.java
bower_components/qrcode-generator/java/src/java/com/d_project/qrcode/web/QRCodeServlet.java
bower_components/qrcode-generator/java/src/sample/web/WEB-INF/web.xml
bower_components/qrcode-generator/java/src/sample/web/form.jsp
bower_components/qrcode-generator/java/src/sample/web/index.jsp
bower_components/qrcode-generator/js/package.json
bower_components/qrcode-generator/js/qrcode.js
bower_components/qrcode-generator/js/qrcode_SJIS.js
bower_components/qrcode-generator/js/qrcode_UTF8.js
bower_components/qrcode-generator/js/sample.html
bower_components/qrcode-generator/js/sample.js
bower_components/qrcode-generator/package.json
bower_components/qrcode-generator/php/qrcode.php
bower_components/qrcode-generator/php/sample.html
bower_components/qrcode-generator/php/sample_custom.php
bower_components/qrcode-generator/php/sample_html.php
bower_components/qrcode-generator/php/sample_image.php
bower_components/qrcode-generator/python/qrcode.py
bower_components/qrcode-generator/ruby/qrcode.rb
bower_components/qrcode-generator/ts/src/ts/com/d_project/image/GIFImage.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/io/Base64.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/io/Base64DecodeInputStream.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/io/Base64EncodeOutputStream.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/io/ByteArrayInputStream.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/io/ByteArrayOutputStream.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/io/InputStream.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/io/OutputStream.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/BitBuffer.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/ErrorCorrectLevel.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/MaskPattern.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/Mode.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/Polynomial.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/QR8BitByte.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/QRAlphaNum.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/QRCode.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/QRData.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/QRKanji.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/QRMath.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/QRNumber.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/QRUtil.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/qrcode/RSBlock.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/text/createStringToBytes.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/text/stringToBytes_SJIS.ts
bower_components/qrcode-generator/ts/src/ts/com/d_project/text/stringToBytes_UTF8.ts
bower_components/qrcode-generator/ts/src/ts/test.html
bower_components/qrcode-generator/ts/src/ts/test.ts
