<!DOCTYPE html>
<html ng-app="infoDisplay">
	<head>
		<meta charset="utf-8">
		<title>Info-Display</title>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
	</head>
	<body>
        <h1 id="logo">Toolbox InfoDisplay</h1>


        <div class="container" ng-controller="DataController">
            <div class="jumbotron" ng-repeat="entry in entries">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                ng-class="{ 'col-md-12 col-lg-12': !entry.images || entry.images.length == 0, 'col-md-8 col-lg-8': entry.images && entry.images.length > 0 }">
                    <h1>{{ entry.name }}</h1>
                    <h2>{{ entry.description }}</h2>
                    <h4>
                        <span ng-repeat="member in entry.team">{{ member }}</span>
                    </h4>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-show="entry.images && entry.images.length > 0">
                    <ul>
                        <li ng-repeat="image in entry.images">
                            <img src="{{ image.url }}" alt="{{ image.name }}">
                        <li>
                    </ul>
                </div>

            </div>
        </div>
	</body>

	<script>
		setTimeout(function(){
			location.reload();
		}, 1000 * 60 * 60);
	</script>

	<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

	<script src="js/app.js"></script>
    <script src="js/dataController.js"></script>
    <script src="js/scrollToNextHeader.js"></script>
</html>
